<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756985957982-6csirifs3us8f7jpprg60p4rjoh5mra0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756985957982-6csirifs3us8f7jpprg60p4rjoh5mra0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>756985957982-0p8nji54vag4dk2njafq6jfhkp39c3cb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdCJ7diknSrF-nhiuwAoxQEfE78qVX5rY</string>
	<key>GCM_SENDER_ID</key>
	<string>756985957982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.medical-new</string>
	<key>PROJECT_ID</key>
	<string>aegle-healthcare</string>
	<key>STORAGE_BUCKET</key>
	<string>aegle-healthcare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756985957982:ios:f5f8b17cbc3d920e072ecf</string>
	<key>DATABASE_URL</key>
	<string>https://aegle-healthcare.firebaseio.com</string>
</dict>
</plist>